
@font-face {
  font-family: "ahrigsed-regular";
  src: url("/typefaces/ahrigsed-regular.otf")
}
.ahrigsed-regular {
  font-family: "ahrigsed-regular";
}
  
@font-face {
  font-family: "all-saints";
  src: url("/typefaces/all-saints.otf")
}
.all-saints {
  font-family: "all-saints";
}
  
@font-face {
  font-family: "alluvion";
  src: url("/typefaces/alluvion.ttf")
}
.alluvion {
  font-family: "alluvion";
}
  
@font-face {
  font-family: "arabesquitic";
  src: url("/typefaces/arabesquitic.ttf")
}
.arabesquitic {
  font-family: "arabesquitic";
}
  
@font-face {
  font-family: "arcadia";
  src: url("/typefaces/arcadia.ttf")
}
.arcadia {
  font-family: "arcadia";
}
  
@font-face {
  font-family: "arch";
  src: url("/typefaces/arch.otf")
}
.arch {
  font-family: "arch";
}
  
@font-face {
  font-family: "arches";
  src: url("/typefaces/arches.otf")
}
.arches {
  font-family: "arches";
}
  
@font-face {
  font-family: "aspect-display";
  src: url("/typefaces/aspect-display.ttf")
}
.aspect-display {
  font-family: "aspect-display";
}
  
@font-face {
  font-family: "atramentum";
  src: url("/typefaces/atramentum.otf")
}
.atramentum {
  font-family: "atramentum";
}
  
@font-face {
  font-family: "aylesham";
  src: url("/typefaces/aylesham.ttf")
}
.aylesham {
  font-family: "aylesham";
}
  
@font-face {
  font-family: "b-gap";
  src: url("/typefaces/b-gap.ttf")
}
.b-gap {
  font-family: "b-gap";
}
  
@font-face {
  font-family: "backstage";
  src: url("/typefaces/backstage.ttf")
}
.backstage {
  font-family: "backstage";
}
  
@font-face {
  font-family: "bakers-dozen";
  src: url("/typefaces/bakers-dozen.otf")
}
.bakers-dozen {
  font-family: "bakers-dozen";
}
  
@font-face {
  font-family: "belick";
  src: url("/typefaces/belick.otf")
}
.belick {
  font-family: "belick";
}
  
@font-face {
  font-family: "bonatur";
  src: url("/typefaces/bonatur.otf")
}
.bonatur {
  font-family: "bonatur";
}
  
@font-face {
  font-family: "botanica";
  src: url("/typefaces/botanica.otf")
}
.botanica {
  font-family: "botanica";
}
  
@font-face {
  font-family: "bound";
  src: url("/typefaces/bound.ttf")
}
.bound {
  font-family: "bound";
}
  
@font-face {
  font-family: "branch";
  src: url("/typefaces/branch.ttf")
}
.branch {
  font-family: "branch";
}
  
@font-face {
  font-family: "brick";
  src: url("/typefaces/brick.ttf")
}
.brick {
  font-family: "brick";
}
  
@font-face {
  font-family: "brutal-warm";
  src: url("/typefaces/brutal-warm.otf")
}
.brutal-warm {
  font-family: "brutal-warm";
}
  
@font-face {
  font-family: "burned";
  src: url("/typefaces/burned.otf")
}
.burned {
  font-family: "burned";
}
  
@font-face {
  font-family: "canal";
  src: url("/typefaces/canal.otf")
}
.canal {
  font-family: "canal";
}
  
@font-face {
  font-family: "celestial-haven";
  src: url("/typefaces/celestial-haven.otf")
}
.celestial-haven {
  font-family: "celestial-haven";
}
  
@font-face {
  font-family: "cheeky-mayo";
  src: url("/typefaces/cheeky-mayo.ttf")
}
.cheeky-mayo {
  font-family: "cheeky-mayo";
}
  
@font-face {
  font-family: "circleline";
  src: url("/typefaces/circleline.otf")
}
.circleline {
  font-family: "circleline";
}
  
@font-face {
  font-family: "come-into-view";
  src: url("/typefaces/come-into-view.otf")
}
.come-into-view {
  font-family: "come-into-view";
}
  
@font-face {
  font-family: "common-holly";
  src: url("/typefaces/common-holly.otf")
}
.common-holly {
  font-family: "common-holly";
}
  
@font-face {
  font-family: "connect";
  src: url("/typefaces/connect.ttf")
}
.connect {
  font-family: "connect";
}
  
@font-face {
  font-family: "constructed";
  src: url("/typefaces/constructed.otf")
}
.constructed {
  font-family: "constructed";
}
  
@font-face {
  font-family: "consume";
  src: url("/typefaces/consume.ttf")
}
.consume {
  font-family: "consume";
}
  
@font-face {
  font-family: "contra-bold";
  src: url("/typefaces/contra-bold.otf")
}
.contra-bold {
  font-family: "contra-bold";
}
  
@font-face {
  font-family: "contra";
  src: url("/typefaces/contra.otf")
}
.contra {
  font-family: "contra";
}
  
@font-face {
  font-family: "cracksf";
  src: url("/typefaces/cracksf.otf")
}
.cracksf {
  font-family: "cracksf";
}
  
@font-face {
  font-family: "crunk";
  src: url("/typefaces/crunk.otf")
}
.crunk {
  font-family: "crunk";
}
  
@font-face {
  font-family: "crystal-component";
  src: url("/typefaces/crystal-component.otf")
}
.crystal-component {
  font-family: "crystal-component";
}
  
@font-face {
  font-family: "curvture";
  src: url("/typefaces/curvture.otf")
}
.curvture {
  font-family: "curvture";
}
  
@font-face {
  font-family: "cuts";
  src: url("/typefaces/cuts.otf")
}
.cuts {
  font-family: "cuts";
}
  
@font-face {
  font-family: "cutting-edge";
  src: url("/typefaces/cutting-edge.otf")
}
.cutting-edge {
  font-family: "cutting-edge";
}
  
@font-face {
  font-family: "cyberburger";
  src: url("/typefaces/cyberburger.otf")
}
.cyberburger {
  font-family: "cyberburger";
}
  
@font-face {
  font-family: "dh-level";
  src: url("/typefaces/dh-level.otf")
}
.dh-level {
  font-family: "dh-level";
}
  
@font-face {
  font-family: "dheton-brut";
  src: url("/typefaces/dheton-brut.ttf")
}
.dheton-brut {
  font-family: "dheton-brut";
}
  
@font-face {
  font-family: "dossier";
  src: url("/typefaces/dossier.otf")
}
.dossier {
  font-family: "dossier";
}
  
@font-face {
  font-family: "driver-s-revival";
  src: url("/typefaces/driver-s-revival.ttf")
}
.driver-s-revival {
  font-family: "driver-s-revival";
}
  
@font-face {
  font-family: "echo-sans";
  src: url("/typefaces/echo-sans.otf")
}
.echo-sans {
  font-family: "echo-sans";
}
  
@font-face {
  font-family: "eternal";
  src: url("/typefaces/eternal.otf")
}
.eternal {
  font-family: "eternal";
}
  
@font-face {
  font-family: "fallow";
  src: url("/typefaces/fallow.ttf")
}
.fallow {
  font-family: "fallow";
}
  
@font-face {
  font-family: "felled";
  src: url("/typefaces/felled.otf")
}
.felled {
  font-family: "felled";
}
  
@font-face {
  font-family: "flame";
  src: url("/typefaces/flame.ttf")
}
.flame {
  font-family: "flame";
}
  
@font-face {
  font-family: "fold-line";
  src: url("/typefaces/fold-line.ttf")
}
.fold-line {
  font-family: "fold-line";
}
  
@font-face {
  font-family: "folktales";
  src: url("/typefaces/folktales.ttf")
}
.folktales {
  font-family: "folktales";
}
  
@font-face {
  font-family: "gallerie";
  src: url("/typefaces/gallerie.otf")
}
.gallerie {
  font-family: "gallerie";
}
  
@font-face {
  font-family: "garden-gothic";
  src: url("/typefaces/garden-gothic.otf")
}
.garden-gothic {
  font-family: "garden-gothic";
}
  
@font-face {
  font-family: "geoglyphics";
  src: url("/typefaces/geoglyphics.ttf")
}
.geoglyphics {
  font-family: "geoglyphics";
}
  
@font-face {
  font-family: "george-bussey";
  src: url("/typefaces/george-bussey.ttf")
}
.george-bussey {
  font-family: "george-bussey";
}
  
@font-face {
  font-family: "giant";
  src: url("/typefaces/giant.ttf")
}
.giant {
  font-family: "giant";
}
  
@font-face {
  font-family: "glass-light";
  src: url("/typefaces/glass-light.ttf")
}
.glass-light {
  font-family: "glass-light";
}
  
@font-face {
  font-family: "glassworks";
  src: url("/typefaces/glassworks.otf")
}
.glassworks {
  font-family: "glassworks";
}
  
@font-face {
  font-family: "glee";
  src: url("/typefaces/glee.otf")
}
.glee {
  font-family: "glee";
}
  
@font-face {
  font-family: "glue-depot";
  src: url("/typefaces/glue-depot.otf")
}
.glue-depot {
  font-family: "glue-depot";
}
  
@font-face {
  font-family: "godfrey";
  src: url("/typefaces/godfrey.otf")
}
.godfrey {
  font-family: "godfrey";
}
  
@font-face {
  font-family: "gospells";
  src: url("/typefaces/gospells.ttf")
}
.gospells {
  font-family: "gospells";
}
  
@font-face {
  font-family: "grafted";
  src: url("/typefaces/grafted.otf")
}
.grafted {
  font-family: "grafted";
}
  
@font-face {
  font-family: "grand";
  src: url("/typefaces/grand.ttf")
}
.grand {
  font-family: "grand";
}
  
@font-face {
  font-family: "gravital";
  src: url("/typefaces/gravital.ttf")
}
.gravital {
  font-family: "gravital";
}
  
@font-face {
  font-family: "grove";
  src: url("/typefaces/grove.otf")
}
.grove {
  font-family: "grove";
}
  
@font-face {
  font-family: "hidden-sound";
  src: url("/typefaces/hidden-sound.otf")
}
.hidden-sound {
  font-family: "hidden-sound";
}
  
@font-face {
  font-family: "historical-trace";
  src: url("/typefaces/historical-trace.otf")
}
.historical-trace {
  font-family: "historical-trace";
}
  
@font-face {
  font-family: "holy-depiction";
  src: url("/typefaces/holy-depiction.ttf")
}
.holy-depiction {
  font-family: "holy-depiction";
}
  
@font-face {
  font-family: "holy-sans";
  src: url("/typefaces/holy-sans.otf")
}
.holy-sans {
  font-family: "holy-sans";
}
  
@font-face {
  font-family: "horniman-glass";
  src: url("/typefaces/horniman-glass.otf")
}
.horniman-glass {
  font-family: "horniman-glass";
}
  
@font-face {
  font-family: "house-of-tile";
  src: url("/typefaces/house-of-tile.otf")
}
.house-of-tile {
  font-family: "house-of-tile";
}
  
@font-face {
  font-family: "interest-point";
  src: url("/typefaces/interest-point.otf")
}
.interest-point {
  font-family: "interest-point";
}
  
@font-face {
  font-family: "intersection";
  src: url("/typefaces/intersection.ttf")
}
.intersection {
  font-family: "intersection";
}
  
@font-face {
  font-family: "iron";
  src: url("/typefaces/iron.otf")
}
.iron {
  font-family: "iron";
}
  
@font-face {
  font-family: "jardinier";
  src: url("/typefaces/jardinier.otf")
}
.jardinier {
  font-family: "jardinier";
}
  
@font-face {
  font-family: "jin-lian";
  src: url("/typefaces/jin-lian.ttf")
}
.jin-lian {
  font-family: "jin-lian";
}
  
@font-face {
  font-family: "k2-consort";
  src: url("/typefaces/k2-consort.ttf")
}
.k2-consort {
  font-family: "k2-consort";
}
  
@font-face {
  font-family: "kentish-drovers";
  src: url("/typefaces/kentish-drovers.ttf")
}
.kentish-drovers {
  font-family: "kentish-drovers";
}
  
@font-face {
  font-family: "khans";
  src: url("/typefaces/khans.otf")
}
.khans {
  font-family: "khans";
}
  
@font-face {
  font-family: "kink";
  src: url("/typefaces/kink.otf")
}
.kink {
  font-family: "kink";
}
  
@font-face {
  font-family: "lattice-168";
  src: url("/typefaces/lattice-168.otf")
}
.lattice-168 {
  font-family: "lattice-168";
}
  
@font-face {
  font-family: "lost-liberty";
  src: url("/typefaces/lost-liberty.otf")
}
.lost-liberty {
  font-family: "lost-liberty";
}
  
@font-face {
  font-family: "luminatrix-sans";
  src: url("/typefaces/luminatrix-sans.ttf")
}
.luminatrix-sans {
  font-family: "luminatrix-sans";
}
  
@font-face {
  font-family: "marika";
  src: url("/typefaces/marika.ttf")
}
.marika {
  font-family: "marika";
}
  
@font-face {
  font-family: "mi6";
  src: url("/typefaces/mi6.otf")
}
.mi6 {
  font-family: "mi6";
}
  
@font-face {
  font-family: "montage";
  src: url("/typefaces/montage.otf")
}
.montage {
  font-family: "montage";
}
  
@font-face {
  font-family: "mori";
  src: url("/typefaces/mori.otf")
}
.mori {
  font-family: "mori";
}
  
@font-face {
  font-family: "munch";
  src: url("/typefaces/munch.ttf")
}
.munch {
  font-family: "munch";
}
  
@font-face {
  font-family: "narrativa";
  src: url("/typefaces/narrativa.ttf")
}
.narrativa {
  font-family: "narrativa";
}
  
@font-face {
  font-family: "new-modary";
  src: url("/typefaces/new-modary.ttf")
}
.new-modary {
  font-family: "new-modary";
}
  
@font-face {
  font-family: "obscura";
  src: url("/typefaces/obscura.ttf")
}
.obscura {
  font-family: "obscura";
}
  
@font-face {
  font-family: "oldngold";
  src: url("/typefaces/oldngold.otf")
}
.oldngold {
  font-family: "oldngold";
}
  
@font-face {
  font-family: "onehundredandfive-letters";
  src: url("/typefaces/onehundredandfive-letters.ttf")
}
.onehundredandfive-letters {
  font-family: "onehundredandfive-letters";
}
  
@font-face {
  font-family: "parakeet";
  src: url("/typefaces/parakeet.otf")
}
.parakeet {
  font-family: "parakeet";
}
  
@font-face {
  font-family: "piankhi-sans";
  src: url("/typefaces/piankhi-sans.ttf")
}
.piankhi-sans {
  font-family: "piankhi-sans";
}
  
@font-face {
  font-family: "playhouse";
  src: url("/typefaces/playhouse.otf")
}
.playhouse {
  font-family: "playhouse";
}
  
@font-face {
  font-family: "pointe";
  src: url("/typefaces/pointe.ttf")
}
.pointe {
  font-family: "pointe";
}
  
@font-face {
  font-family: "pruned";
  src: url("/typefaces/pruned.otf")
}
.pruned {
  font-family: "pruned";
}
  
@font-face {
  font-family: "re";
  src: url("/typefaces/re.ttf")
}
.re {
  font-family: "re";
}
  
@font-face {
  font-family: "reflex";
  src: url("/typefaces/reflex.otf")
}
.reflex {
  font-family: "reflex";
}
  
@font-face {
  font-family: "restored";
  src: url("/typefaces/restored.otf")
}
.restored {
  font-family: "restored";
}
  
@font-face {
  font-family: "resurrection";
  src: url("/typefaces/resurrection.otf")
}
.resurrection {
  font-family: "resurrection";
}
  
@font-face {
  font-family: "revamp95";
  src: url("/typefaces/revamp95.ttf")
}
.revamp95 {
  font-family: "revamp95";
}
  
@font-face {
  font-family: "rivet";
  src: url("/typefaces/rivet.otf")
}
.rivet {
  font-family: "rivet";
}
  
@font-face {
  font-family: "route-aero";
  src: url("/typefaces/route-aero.otf")
}
.route-aero {
  font-family: "route-aero";
}
  
@font-face {
  font-family: "rush";
  src: url("/typefaces/rush.otf")
}
.rush {
  font-family: "rush";
}
  
@font-face {
  font-family: "ryegrid";
  src: url("/typefaces/ryegrid.ttf")
}
.ryegrid {
  font-family: "ryegrid";
}
  
@font-face {
  font-family: "sans-savoir";
  src: url("/typefaces/sans-savoir.otf")
}
.sans-savoir {
  font-family: "sans-savoir";
}
  
@font-face {
  font-family: "scatterline";
  src: url("/typefaces/scatterline.ttf")
}
.scatterline {
  font-family: "scatterline";
}
  
@font-face {
  font-family: "sceaux-block";
  src: url("/typefaces/sceaux-block.otf")
}
.sceaux-block {
  font-family: "sceaux-block";
}
  
@font-face {
  font-family: "section88";
  src: url("/typefaces/section88.otf")
}
.section88 {
  font-family: "section88";
}
  
@font-face {
  font-family: "segmenting";
  src: url("/typefaces/segmenting.otf")
}
.segmenting {
  font-family: "segmenting";
}
  
@font-face {
  font-family: "simone-65";
  src: url("/typefaces/simone-65.otf")
}
.simone-65 {
  font-family: "simone-65";
}
  
@font-face {
  font-family: "sitka";
  src: url("/typefaces/sitka.otf")
}
.sitka {
  font-family: "sitka";
}
  
@font-face {
  font-family: "space";
  src: url("/typefaces/space.ttf")
}
.space {
  font-family: "space";
}
  
@font-face {
  font-family: "spinose";
  src: url("/typefaces/spinose.ttf")
}
.spinose {
  font-family: "spinose";
}
  
@font-face {
  font-family: "strength-in-red";
  src: url("/typefaces/strength-in-red.ttf")
}
.strength-in-red {
  font-family: "strength-in-red";
}
  
@font-face {
  font-family: "stridore";
  src: url("/typefaces/stridore.otf")
}
.stridore {
  font-family: "stridore";
}
  
@font-face {
  font-family: "tap-20";
  src: url("/typefaces/tap-20.otf")
}
.tap-20 {
  font-family: "tap-20";
}
  
@font-face {
  font-family: "tarnished-london";
  src: url("/typefaces/tarnished-london.otf")
}
.tarnished-london {
  font-family: "tarnished-london";
}
  
@font-face {
  font-family: "tarnished";
  src: url("/typefaces/tarnished.otf")
}
.tarnished {
  font-family: "tarnished";
}
  
@font-face {
  font-family: "telophase";
  src: url("/typefaces/telophase.otf")
}
.telophase {
  font-family: "telophase";
}
  
@font-face {
  font-family: "the-barbican";
  src: url("/typefaces/the-barbican.otf")
}
.the-barbican {
  font-family: "the-barbican";
}
  
@font-face {
  font-family: "the-blueprint-of-war";
  src: url("/typefaces/the-blueprint-of-war.otf")
}
.the-blueprint-of-war {
  font-family: "the-blueprint-of-war";
}
  
@font-face {
  font-family: "time-lapse";
  src: url("/typefaces/time-lapse.ttf")
}
.time-lapse {
  font-family: "time-lapse";
}
  
@font-face {
  font-family: "tombstone-type";
  src: url("/typefaces/tombstone-type.otf")
}
.tombstone-type {
  font-family: "tombstone-type";
}
  
@font-face {
  font-family: "toward-uniformity";
  src: url("/typefaces/toward-uniformity.otf")
}
.toward-uniformity {
  font-family: "toward-uniformity";
}
  
@font-face {
  font-family: "trance";
  src: url("/typefaces/trance.ttf")
}
.trance {
  font-family: "trance";
}
  
@font-face {
  font-family: "transitum-inktrap";
  src: url("/typefaces/transitum-inktrap.otf")
}
.transitum-inktrap {
  font-family: "transitum-inktrap";
}
  
@font-face {
  font-family: "transitum";
  src: url("/typefaces/transitum.otf")
}
.transitum {
  font-family: "transitum";
}
  
@font-face {
  font-family: "trapezia";
  src: url("/typefaces/trapezia.otf")
}
.trapezia {
  font-family: "trapezia";
}
  
@font-face {
  font-family: "twig-noir";
  src: url("/typefaces/twig-noir.otf")
}
.twig-noir {
  font-family: "twig-noir";
}
  
@font-face {
  font-family: "under-the-bridge";
  src: url("/typefaces/under-the-bridge.otf")
}
.under-the-bridge {
  font-family: "under-the-bridge";
}
  
@font-face {
  font-family: "unity";
  src: url("/typefaces/unity.otf")
}
.unity {
  font-family: "unity";
}
  
@font-face {
  font-family: "upper-room";
  src: url("/typefaces/upper-room.ttf")
}
.upper-room {
  font-family: "upper-room";
}
  
@font-face {
  font-family: "vcinity";
  src: url("/typefaces/vcinity.ttf")
}
.vcinity {
  font-family: "vcinity";
}
  
@font-face {
  font-family: "versatility";
  src: url("/typefaces/versatility.otf")
}
.versatility {
  font-family: "versatility";
}
  
@font-face {
  font-family: "victorian-bloom";
  src: url("/typefaces/victorian-bloom.otf")
}
.victorian-bloom {
  font-family: "victorian-bloom";
}
  
@font-face {
  font-family: "wild";
  src: url("/typefaces/wild.ttf")
}
.wild {
  font-family: "wild";
}
  
@font-face {
  font-family: "wingspan";
  src: url("/typefaces/wingspan.ttf")
}
.wingspan {
  font-family: "wingspan";
}
  
@font-face {
  font-family: "yolk-s-on-you";
  src: url("/typefaces/yolk-s-on-you.ttf")
}
.yolk-s-on-you {
  font-family: "yolk-s-on-you";
}
  