
@font-face {
  font-family: "narrativa";
  src: url("/typefaces/narrativa.ttf")
}
.narrativa {
  font-family: "narrativa";
}
  
@font-face {
  font-family: "tavita";
  src: url("/typefaces/tavita.otf")
}
.tavita {
  font-family: "tavita";
}
  
@font-face {
  font-family: "vauxhall-pleasure-gardens-regular";
  src: url("/typefaces/vauxhall-pleasure-gardens-regular.otf")
}
.vauxhall-pleasure-gardens-regular {
  font-family: "vauxhall-pleasure-gardens-regular";
}
  